<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>CheckLatency - Sukka</title>
    <link rel="shortcut icon" type="image/ico" href="https://cdn.jsdelivr.net/npm/skx@0.0.1">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.jsdelivr.net/npm/skx@0.0.1/favicon/favicon-32x32.png">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" itemprop="description" content="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spectre.css@0.5.3">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spectre.css@0.5.3/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spectre.css@0.5.3/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/suka.css@0.2.0">
    <meta property="og:title" content="CheckLatency - Sukka">
    <meta property="og:type" content="Website">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta name="twitter:card" content="summary">
    <style>
        .meter {
            height: .4rem;
        }

        .card-subtitle {
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="container grid-xl sk-pt-8 sk-pb-8 sk-pl-4 sk-pr-4">
        <h1 class="h2 text-center sk-mb-5 sk-text-bold">Check Latency</h1>
        <div id="app"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bdtpl@1.0.6"></script>
    <script id="cloud-item-tpl" type="text/html">
        <div class="column col-xs-12 col-md-6 col-xl-4 col-3 sk-pt-3">
            <div class="card sk-shadow-1">
                <div class="card-header">
                    <div class="card-title text-bold h5"><%= name %></div>
                    <div class="card-subtitle text-gray sk-text-small"><%= url %></div>
                </div>
                <div class="card-body">
                    <meter class="meter" value="20" min="0" max="100"></meter>
                    <p class="text-center sk-text-dark mb-0"><small>100ms</small></p>
                </div>
                <% if (dl) { %>
                    <div class="divider"></div><div class="card-footer sk-pt-2">
                    <% for (i in dl) { %>
                        <a href="<%= link %><%= dl[i] %>" class="sk-mr-2"><%= i %></a>
                    <% } %>
                    </div>
                <% } %>
            </div>
        </div>
    </script>
    <script src="app.js"></script>
</body>

</html>
